<form action='/back/login_result' method='login_result'>
  <div class="container" style="padding: 100px 300px 50px;">
    <center>
      <h1> Administrator Login </h1>

      <div class="input-group">
         <span class="input-group-addon"> adminname: </span>
         <input type="text" class="form-control" placeholder="Input your name" name="adminname"></input>
      </div>
      <br>

      <div class="input-group">
         <span class="input-group-addon"> password: </span>
         <input type="password" class="form-control" placeholder="Input password" name="password"></input>
      </div>
      <br>

      <br>
      <button type='submit' class="btn btn-primary">Login</button>
    </center>
    <br>
    <a href="/back/register">Have not account? Click me to register one!</a>
  </div>
</from>
