<center>
<table border='1'>
  <tr><td>Your id is:</td><td>#{@id}</td></tr>
  <tr><td>Your message is:</td><td>#{@message}</td></tr>
  <tr><td>Your name is:</td><td>#{@author}</td></tr>
  <tr><td>You creat it at:</td><td>#{@created_at}</td></tr>
</table>
<br>
<button type='button' onclick="location.href='/'">Back to the Home</button>
</center>
