- for k in 0...@arr.size do
  - if @flag[k]
    <center>成功删除id为#{@arr[k]}的留言<br></center>
  - else
    <center>id为'#{@arr[k]}'的留言已经删除或还未添加或您的输入格式有误<br></center>

<center><button type='button' onclick='location.href=&quot;/&quot;'>  Back to the Home  </button></center>
