<div class="container" style="padding: 50px 300px 50px;">
  <text><%= @return %></text>
  <br>
  <button class="btn btn-primary" onclick="location.href='/front/home'">Back to the home</button>
</div>
