<div class="container" style="padding: 50px 300px 50px;">
  <text><%= @return %></text>
  <br>
  <% if @return=="密码修改成功！请重新登录！" %>
    <button class="btn btn-primary" onclick="location.href='/front/logout'">Login</button>
  <% else %>
    <button class="btn btn-primary" onclick="location.href='/front/change_password'">Try again</button>
  <% end %>
</div>
