<div class="container" style="padding: 100px 300px 50px;">
  <% if session[:username]==nil %>
    <text style="color:red;"> Please login first! </text>
    <br>
    <a href="/front/login"> Click me to login </a>
  <% else %>
    <form action='/front/change_password_result' method='change_password_result'>
      <center>
        <h1> Change password </h1>

        <div class="input-group">
           <span class="input-group-addon"> old password: </span>
           <input type="password" class="form-control" placeholder="Input your old password" name="old_password"></input>
        </div>
        <br>

        <div class="input-group">
           <span class="input-group-addon"> new password: </span>
           <input type="password" class="form-control" placeholder="Input your new password" name="new_password1"></input>
        </div>
        <br>

        <div class="input-group">
           <span class="input-group-addon"> new password: </span>
           <input type="password" class="form-control" placeholder="Input your new password again" name="new_password2"></input>
        </div>
        <br>

        <br>
        <input type="button" class="btn btn-primary" value="Submit" onclick="if(new_password1.value==new_password2.value){form.submit()}else{div1.style='display:block;color:red;'}"></input>
        <div id="div1" style="display:none;"> 两次输入的密码不一致！</div>
      <center>
    </form>
  <% end %>
</div>
