<div class="container" style="padding: 100px 100px 50px;">
    <text style="color:red"><%= @return %></text>
    <button class="btn btn-primary" onclick="location.href='/front/login'">click me to login again</button>
</div>
