<form action='/front/login_result' method='login_result'>
  <div class="container" style="padding: 100px 300px 50px;">
    <center>
      <h1> Login </h1>

      <div class="input-group">
         <span class="input-group-addon"> name: </span>
         <input type="text" class="form-control" placeholder="Input your name" name="username"></input>
      </div>
      <br>

      <div class="input-group">
         <span class="input-group-addon"> password: </span>
         <input type="password" class="form-control" placeholder="Input password" name="password"></input>
      </div>
      <br>

      <br>
      <button type='submit' class="btn btn-primary">Login</button>
    </center>
    <br>
    <a href="/front/register">Have not account? Click me to register one!</a>
    <br><br>
    <a href="/back/login">Administrator login>></a>
  </div>
</from>
