<div class="container" style="padding: 10px 50px 50px;">
  <% if session[:username]==nil %>
    <text style="color:red;"> Please login first! </text>
    <br>
    <a href="/front/login"> Click me to login </a>
  <% else %>
    <a href="/front/personal_center"> Back </a>
    <br><br>


    <center>
      <h2> My feedbacks </h2>
      <table class="table table-striped table-bordered" width='100%'>
        <thead>
          <tr>
            <th width='10%' align='left'> ID </th>
            <th width='60%' align='left'> Content </th>
            <th width='30%' align='left'> Created_at </th>
          </tr>
        </thead>

        <% if @feedbacks!=nil %>
          <% @feedbacks.each do |feedback| %>
            <tr>
              <td width='10%' align='left'><%= feedback.id %></td>
              <td width='60%' align='center'><%= feedback.content %></td>
              <td width='30%' align='center'><%= feedback.created_at %></td>
            </tr>
          <% end %>
        <% end %>

      </table>
    </center>

  <% end %>
</div>
